* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /*background-color: #7FA8C5;*/
    height: 100vh;
    width: 100%;
    top: 50%;
}

.container__info {
    background: linear-gradient(180deg, rgba(244, 249, 253, 0.35) 0%, rgba(245, 245, 247, 0.35) 100%);
    backdrop-filter: blur(77.8321px);
    position: relative;
    top: 18%;
    max-width: 330px;
    min-height: 630px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 40px;
    margin: 0 auto;
    opacity: 0.9;
}
.container__daily {
    /*border: 1px solid black;*/
    min-height: 60%;
    margin: 25px;
    font-weight: 900;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #353E5E;
}
.currect__weather {
    margin-bottom: 5px;
}
.current__time {
    font-weight: 400;
    opacity: 0.5;
}
.avatar {
    max-width: 30%;
}
.location {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 15px;
}
.weather__detailed {
    position: relative;
    color: #ffffff;
}
.weather__img {
    position: absolute;
    z-index: 1;
    left: 32%;
    width: 90px;
    height: 90px;
}
.weather__info-container {
    z-index: 0;
    margin: 40px 0;
    height: 200px;
    width: 100%;
    position: absolute;
    background: linear-gradient(180deg, rgba(216, 214, 255, 0.671) 0%, #71BFF0 100%);
    border-radius: 15px;
    filter: drop-shadow(0px 0px 10px #77777791);
}

.sun {
    background-image: url(../img/sun.png);
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(1px 10px 10px #3d3d3d91);
}
.sun__cloud {
    background-image: url(../img/sun_cloud.png);
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(1px 10px 5px #ffffff91);
}
.snow {
    background-image: url(../img/snow.png);
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(1px 10px 10px #3d3d3d91);
}
.sun__lightning {
    background-image: url(../img/sun_lightning.png);
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(1px 10px 10px #3d3d3d91);
}
.sun__cloud-big {
    background-image: url(../img/sun_cloud_big.png);
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(1px 10px 10px #3d3d3d91);
}
.rain {
    background-image: url(../img/rain.png);
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(1px 10px 10px #3d3d3d91);
}
.weather__info-title {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    margin: 20px 10px 0;
}
.wind__title {
    width: 55px;
}
.weather__info-value {
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}
.temperature {
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
}